@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.3s ease;
    font-family: "League Spartan", sans-serif;
}

html {
    font-size: 90%;

}

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 9%;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 1.6rem;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;

}

.logo i {
    font-size: 3rem;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 3.6rem;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    font-size: 1.20rem;
    color: #1a1a1a;
    font-weight: 600;
    position: relative;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active {
    color: #088178;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 50%;
    /* line ki length */
    height: 2.5px;
    background-color: #088178;
    position: absolute;
    transition: 0.5s ease;
    bottom: -5px;
    left: 0.2rem;
    /* line bilkul left se start hogi */
}


.hero {
    background-image: url(img/hero4.png);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 11rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* text left side par */
    justify-content: center;
    /* vertical center */

}

.hero h4 {
    font-size: 2rem;
    padding-bottom: 0.9rem;

}

.hero h2 {
    font-size: 4.5rem;
    padding-bottom: 0.9rem;
}

.hero h1 {
    font-size: 2.6rem;
    color: #088178;
}

.hero p {
    font-size: 1.4rem;
    margin: 1.1rem 0;
}

.hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 1rem 4.5rem 1.1rem 4.5rem;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}



.feature {
    padding: 3rem 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature .fe-box {
    width: 15.8%;
    text-align: center;
    padding: 2rem 1.5rem;
    background: #fff;
    border: 1px solid #cce7d0;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.feature .fe-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);

}

.feature .fe-box img {
    width: 100%;
    margin-bottom: 1rem;
}

.feature .fe-box h6 {
    font-size: 1.2rem;
    margin-top: 0.6rem;
    color: #000;
    font-weight: 600;
}

.product-section {
    text-align: center;
    padding: 3rem 11%;

}

.product-section .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1.2rem;

}

.product-section h2 {
    font-size: 3.5rem;
    /* margin-top: 1rem; */
}

.product-section p {
    font-size: 1.3rem;
    margin-top: 1.7rem;
}

.product-section .pro {
    width: 23%;
    min-width: 250px;
    padding: 0.8rem 0.7rem;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 1.5rem 0;
    transition: 0.3s ease;
    position: relative;
}

.product-section .pro img {
    width: 100%;
    border-radius: 20px;
}


.product-section .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product-section .pro .des {
    text-align: start;
    padding: 0.9rem 0.1rem;
}

.product-section .pro .des span {
    font-size: 1.3rem;
    color: #606063;
}

.product-section .pro .des h5 {
    font-size: 1.15rem;
    padding-top: 0.6rem;
    font-weight: 500;
    color: #1a1a1a;
}

.product-section .pro .des i {
    color: rgb(243, 181, 25);
    font-size: 1rem;
    padding-top: 0.7rem;
}

.product-section .pro .des h4 {
    padding-top: 0.9rem;
    font-size: 1.4rem;
    color: #088178;
}


.product-section .pro .cart {
    width: 35px;
    height: 35px;
    line-height: 40px;
    border-radius: 100%;
    background-color: #81d5cb;
    font-weight: 500;
    color: #fff;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 22px;
    right: 11px;
    text-align: center;
}

.banner {
    padding: 0.1rem 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 40vh;
    margin-bottom: 1.5rem;
}

.banner h4 {
    color: white;
    font-size: 2.2rem;
    padding: 1.6rem 0rem;
}

.banner h2 {
    font-size: 3rem;
    color: white;
}

.banner h2 span {
    color: #ef3636;
    font-size: 3.9rem;
}

.banner button {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.9rem 2.3rem;
    border-radius: 35px;
    margin-top: 1.7rem;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s ease;
}

.banner button:hover {
    background-color: #088178;
    color: white;
}

.sm-banner {
    padding: 1rem 11%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: green; */
}

.sm-banner .banner-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/banner/b17.jpg);
    width: 49%;
    background-size: cover;
    background-position: center;
    height: 45vh;
    margin-bottom: 1.3rem;
    padding: 2.5rem;
}


.sm-banner .banner-box h4 {
    font-size: 1.9rem;
    color: white;
    font-weight: 500;
}

.sm-banner .banner-box h2 {
    font-size: 2.7rem;
    padding-top: 0.5rem;
    color: white;
    font-weight: 700;
}

.sm-banner .banner-box span {
    font-size: 1.3rem;
    padding-top: 0.65rem;
    color: white;
    font-weight: 400;
}

.sm-banner .banner-box button {
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-size: 1.2rem;
    margin-top: 0.9rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.sm-banner .banner-box button:hover {
    background-color: #088178;
    color: white;
}

.sm-banner .banner-box2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/banner/b10.jpg);
    width: 49%;
    background-size: cover;
    background-position: center;
    height: 45vh;
    margin-bottom: 1.5rem;
    padding: 2.5rem;
}

.sm-banner .banner-box2 h4 {
    font-size: 1.9rem;
    color: white;
    font-weight: 500;
}

.sm-banner .banner-box2 h2 {
    font-size: 2.7rem;
    padding-top: 0.5rem;
    color: white;
    font-weight: 700;
}

.sm-banner .banner-box2 span {
    font-size: 1.3rem;
    padding-top: 0.65rem;
    color: white;
    font-weight: 400;
}

.sm-banner .banner-box2 button {
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-size: 1.2rem;
    margin-top: 0.9rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.sm-banner .banner-box2 button:hover {
    background-color: #088178;
    color: white;
}

.banner3 {
    padding: 1rem 11%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: green; */
}

.banner3 .banner-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/banner/b7.jpg);
    width: 31%;
    background-size: cover;
    background-position: center;
    height: 30vh;
    padding: 2.5rem;
    margin-bottom: 1.5rem;
}

.banner3 .banner-box4 {
    background-image: url(img/banner/b4.jpg);
}

.banner3 .banner-box5 {
    background-image: url(img/banner/b18.jpg);
}

.banner3 .banner-box h2 {
    font-size: 2.1rem;
    color: white;

}

.banner3 .banner-box span {
    color: red;
    font-weight: 500;
    font-size: 1.25rem;
    padding-top: 0.5rem;
}

.newsletter {
    padding: 6rem 11%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-color: #041e42;
    background-position: 20% 30%;
}

.newsletter .newstext h4 {
    font-size: 2.7rem;
    font-weight: 600;
    color: white;
}

.newsletter .newstext p {
    font-size: 1.4rem;
    color: white;
    margin-top: 1rem;
}

.newsletter .newstext span {
    color: #ffbd27;
}

.newsletter .form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42%;
    gap: 1rem;
}

.newsletter input {
    flex: 1;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    font-size: 1.1rem;
}

.newsletter input::placeholder {
    text-align: left;
    font-weight: 600;
    font-size: 1.10rem;
}

.newsletter .form button {
    padding: 1rem 2rem;
    border-radius: 25px;
    background-color: #088178;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.10rem;

}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 2rem 1.9rem;
}

.footer .logo {
    margin-bottom: 1.5rem;
}

.footer h4 {
    font-size: 1.3rem;
    margin-bottom: 0.45rem;

}

.footer .col p {
    font-size: 1.20rem;
    color: black;
    margin-top: 0.45rem;
}

.footer a {
    font-size: 1.17rem;
    color: black;
}

.footer .follow {
    margin-top: 1.5rem;
}

.footer .follow i {
    color: #465b54;
    cursor: pointer;
    font-size: 1.55rem;
    margin-top: 0.5rem;
}

.footer .follow i:hover,
.footer a:hover {
    color: #088178;
}

.footer .install p {
    font-size: 1.20rem;
    color: black;
    margin-top: 1rem;
}



.footer .install .row img {
    border: 1px solid #088170;
    border-radius: 10px;
    margin-top: 0.5rem;
}

.footer .install .row p {
    margin-top: 1.4rem;
    margin-bottom: 1.05rem;
}


.footer .copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding: 1.8rem;
}


@media (max-width: 1200px) {

}